.track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border: 4px solid black;
  padding: 10px;
}

.track__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 18px;
  }
}

.track__info--bottom {
  display: flex;
  justify-content: space-between;

  p {
    margin-right: 20px;
  }
}
